@page

@model PokemonShinyHuntingHelper.Pages.HuntsModel
@{
}

<a href="/hunt/softresets">Soft Resets</a>
<hr />
<a href="/hunt/hordebattles">Horde Battles</a>
<hr />
<a href="/hunt/friendsafari">Friend Safari</a>
<hr />
<a href="/hunt/chainfishing">Chain Fishing</a>
<hr />
<a href="/hunt/radarchaining">Radar Chaining</a>
<hr />
<a href="/hunt/dexnav">DexNav</a>
<hr />

