@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a helpful thing so that I can keep track of my history of shiny hunting in Pokemon. What I have now is specifically targetted at Generation 6( These being Pokemon X and Y, and Pokemon OR and AS). I have basic forms that I can fill out and submit when I am done with them and these are then stored into a database that I can access. The database should have a history of all my shiny hunts and should be able to return the data that I have inputted into it from my hunts.</p>
</div>
